//width
@mixin desktop() {
    @media screen and (max-width: $desktop) {
      @content;
    }
  }
  
  @mixin laptop() {
    @media screen and (max-width: $laptop) {
      @content;
    }
  }

  @mixin tablet() {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
  
  @mixin smartphone() {
    @media screen and (max-width: $smartphone) {
      @content;
    }
  }
  
  @mixin phone() {
    @media screen and (max-width: $phone) {
      @content;
    }
  }


//height
  @mixin smartphoneGRZ() {
    @media screen and (max-height: $smartphone) {
      @content;
    }
  }

  @mixin phoneGRZ() {
    @media screen and (max-height: $phone) {
      @content;
    }
  }