//colors
    $main-color: red;
    $default-color: blue;
    $pink: pink;
    $gray: gray;
    $green: green;

//bg
    $imgTestBg: url('/assets/images/2.jpg') center center no-repeat;

//fonts
    $mainFont: 'Open Sans', Helvetica, sans-serif;
    $additionalFont: 'Gagalin', sans-serif;

//font sizes
    $mainFontSize: 16px;

//resolutions
    $desktop: 1280px;
    $laptop: 980px;
    $tablet: 768px;
    $smartphone: 480px;
    $phone: 320px;