.first {
    text-align: center;
    color: $pink;
    font-weight: bold;

    border: 2px solid $gray;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.testFonts {
    font-size: 36px;
    margin-bottom: 20px;
}

.testFonts2 {
    font: {
        family: $additionalFont;
        weight: 100;
        size: 36px;
    }
    margin-bottom: 20px;
}