* {
  box-sizing: border-box;
}

body {
  font: {
    family: 'Open Sans', Helvetica, sans-serif;
    size: 16px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body, button, ul, p {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;  
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

button[type="button"] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}