//colors
$main-color: red;
$default-color: blue;

//fonts
$main-font: 'Gagalin', sans-serif;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;

// sample of background image

// .footer {
//     display: flex;
//     width: 100%;
//     height: 200px;
//     background-image: url('/assets/images/2.jpg');
// }