.first {
    text-align: center;
    color: pink;
    font-weight: bold;
}

.testFonts {
    font-family: $additionalFont;
    font-size: 36px;
    margin-bottom: 20px;
}

.testFonts2 {
    font-family: $additionalFont;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 20px;
}