.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}

.second__subtitle {
    color: blue;
    margin-right: 10px;
}

.second__test {
    color: gray;
}

.second__title {
    display: flex;
    justify-content: center;
    align-items: center;
}