.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    width: 100%;
}

.second__test {
    color: gray;
}

.second__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}