.third {
    color: gray;
}

.third__title {
    display: flex;
}

.buttonCommon {
    border-radius: 10px;
    outline: none;
}

.buttonActive {
    background-color: red;
}

.buttonUnActive {
    background-color: green;
}